.nav-link.active {
    position: relative;
    font-weight: 600;
}
.nav-link.active::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 2px;
    background-color: var(--color-primary-dark);
}
.nav-link.active::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: var(--color-primary-dark);
}
.navbar.bg-body-tertiary {
    background-color: rgba(221, 221, 221, 0.91) !important;
}
@keyframes fadeInOpacity {
    0% {
        opacity: .7;
    }
    100% {
        opacity: 1;
    }
}

body {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}