.bar-container {
    width: 60px;
    height: 220px;
    border: 2px solid var(--color-primary);
    background: var(--color-light);
    position: relative;
}
.bar-fill {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
}
.vertical-ticks {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.vertical-tick {
    position: absolute;
    width: 100%;
    height: 1px;
    background: var(--color-primary-light);
    opacity: 0.6;
}
.horizontal-container {
    width: 450px;
    height: 30px;
    background: var(--color-primary-light);
    border: 2px solid var(--color-primary);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
.horizontal-fill {
    height: 100%;
    width: 50%;
}

.horizontal-ticks {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.horizontal-tick {
    position: absolute;
    width: 1px;
    height: 100%;
    background: var(--color-primary-light);
    opacity: 0.6;
}